@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
		--background: 26, 100%, 97%;
		--foreground: 222.2 84% 4.9%;
		--card: 26, 100%, 97%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 26, 100%, 97%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 203, 86%, 5%;
		--foreground: 210 40% 98%;
		--card: 203, 86%, 5%;
		--card-foreground: 210 40% 98%;
		--popover: 203, 86%, 5%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wave {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0.1;
}

.cardContent {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	align-items: center;
	justify-content: center;
  }
  
  .card {
	width: 320px;
	padding: 10px 10px;
	overflow: hidden;
	border-radius: 20px;
  }
  .card img {
	width: 100%;
	height: 200px;
	/* object-fit:fill; */
	border-radius: 20px;
  }
  .cardbody {
	border-bottom: 1px solid white;
	padding-bottom: 3px;
  
	margin-top: 10px;
  }
  .cardbody h2 {
	font-size: 1.7rem;
	font-weight: 700;
  }
  .cardName p {
	font-size: 1.2rem;
  }
  .cardName {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
	padding-bottom: 3px;
  }
  .cardType p {
	font-size: 1.5rem;
	margin-top: 5px;
	letter-spacing: 2px;
  }
  .cardbtn {
	width: 300px;
	text-align: center;
	border-radius: 20px;
  }
   
  
  .cardFooterr {
	width: 100%;
	padding: 1.5rem 0;
	background-color: #031522;
  }
  .footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
  }
  .footer__content .item img{
	width: 25px;
	height: 25px;
	/* object-fit: cover; */
  }
  .footer__content .item{
	  display: flex;
	  gap: 1rem;
  }
  .logo{
	width: 25%;
  }


	  @media only screen and (max-width: 768px) {
		.card {
		  width: 100%;
		  padding: 10px 10px;
		  overflow: hidden;
		  border-radius: 20px;
		}
		.footer__content{
			justify-content: center;
			gap: 1.4rem;

		}
	  }
	  

	  @media only screen and (max-width: 468px) {
		.card {
		  width: 100%;
		  padding: 10px 10px;
		  overflow: hidden;
		  border-radius: 20px;
		  margin-left: 0;
		}
		.footer__content{
			justify-content: center;
			gap: 1.4rem;

		}
		.cardName {
			flex-direction: column;
			align-items: flex-start;
		  }
		  .logo{
			width: 45%;
		  }
		
	  }